.video-list-container {
}

.video-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 270px);
	justify-content: space-between;
	gap: 15px 0;
	transition: all 0.3s ease;
}
.video-list-container .list-title {
	color: #007bff;
	font-size: 24px;
	display: flex;
	margin-bottom: 5px;
}

.video-list-container .list-title .list-kits {
	display: flex;
	gap: 10px;
}
.video-list-container .list-title .list-kits .kit-item:hover {
	color: #d30020;
	cursor: pointer;
}
.video-list .video-item {
	position: relative;
	display: inline-block;
	background-color: #fff;
	border-bottom-left-radius: 0.375rem;
	border-bottom-right-radius: 0.375rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	height: fit-content;
	overflow: hidden;
}

.video-item {
	height: fit-content;
}
.video-item:hover {
	box-shadow: 0 0.125rem 0.25rem #ff82a9;
}

.video-cover,
.video-list .video-item .video-cover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 182px;
	background-color: #222;
	cursor: pointer;
}

.video-cover img,
.video-list .video-item .video-cover img {
	max-width: 100%;
	max-height: 100%;
}

.video-item .video-cover .video-duration,
.video-item .video-cover .video-category {
	position: absolute;
	display: inline-block;
	bottom: 5px;
	font-size: 13px;
	padding: 1px 5px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.2rem;
	color: #c7c7c7;
}
.video-list .video-item .video-cover .video-duration {
	right: 5px;
}
.video-list .video-item .video-cover .video-category {
	left: 5px;
}
.video-list .video-item .video-item-info {
	padding: 5px;
	box-sizing: border-box;
}

.video-list .video-item .video-title {
	color: #333;
	overflow: hidden;
	text-decoration: none;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	cursor: pointer;
}

.video-list .video-item .video-title:hover {
	color: rgb(6, 114, 255);
}

.video-list .video-item .video-details {
	font-size: 13px;
	color: #a7a7a7;
	text-overflow: ellipsis;
}

.video-list .video-item .video-tags {
	display: flex;
	font-size: 13px;
	flex-wrap: wrap;
	gap: 0 0.5em;
}

.video-list .video-item .video-tags .tag {
	position: relative;
	text-decoration: none;
	color: #666;
}
.video-list .video-item .video-tags .tag:hover {
	cursor: pointer;
	color: #fc6986;
}

/************ NAVs **************/
:root {
	--top-nav-height: 60px;
	--lside-nav-margin: 130px;
	--lside-nav-width: 120px
}
@media screen and (max-width: 400px) {
	:root {
		--lside-nav-margin: 70px;
		--lside-nav-width: 60px
	}
	.video-list {
		justify-content: center;
	}
}
.exclude-lside-nav {
	margin-left: var(--lside-nav-margin);
}
.exclude-top-nav {
	margin-top: var(--top-nav-height);
}

.lside-subnav {
	position: fixed;
	padding-top: 10px;
	top: 55px;
	left: 5px;
	width: var(--lside-nav-width);
	gap: 4px;
	height: calc(100vh - 55px);
	display: flex;
	flex-direction: column;
	border-right: 1px solid #f3f3f3;
	background-color: #fff;
	color: #0d3f67;
	overflow-y: auto;
	font-size: 17px;
	font-weight: bold;
}

/* .lside-subnav .subnav-title {
	margin: 0;
	padding: 0.5rem;
	color: #006ae2;
	background: #c0dcfa;
	border-bottom: 2px solid #f3f3f3;
	text-align: center;
	font-size: 18px;
} */

.lside-subnav .subnav-item {
	position: relative;
	padding: 3px;
	padding-left: 10px;
	text-decoration: none;
	text-align: left;
	/* text-align-last: justify; */
	transition: all 0.15s;
	/* border-bottom: 5px solid #f3f3f3; */
}

/* .lside-subnav .subnav-item:first-child {
	border-top: 2px solid #f3f3f3;
} */

/* .lside-subnav .subnav-item.active {
	background-color: #e2f4fd;
} */

.lside-subnav .subnav-item.active,
.lside-subnav .subnav-item:hover {
	color: #d9534f;
	background-color: #f5f4e8;
}

.lside-subnav .subnav-item.active::after,
.lside-subnav .subnav-item::after {
	position: absolute;
	content: "";
	background: #d0d2d4;
	transition: all 0.3s ease;
	height: 100%;
	width: 5px;
	bottom: 0;
	right: 0;
	border-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	z-index: 0;
}

.lside-subnav .subnav-item.active::after,
.lside-subnav .subnav-item:hover::after {
	background: #0d3f67;
}

/* @media screen and (min-width: 700px) and (max-width: 940px) {
	.video-page .video-list .video-item:last-child:nth-child(2n-1) {
		margin-right: 50%;
	}
}

@media screen and (min-width: 940px) and (max-width: 1200px) {
	.video-page .video-list .video-item:last-child:nth-child(3n-1) {
		margin-right: 31.3%;
	}
	.video-page .video-list .video-item:last-child:nth-child(3n-2) {
		margin-right: 62.6%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1500px) {
	.video-page .video-list .video-item:last-child:nth-child(4n-1) {
		margin-right: 25%;
	}
	.video-page .video-list .video-item:last-child:nth-child(4n-2) {
		margin-right: 50%;
	}

	.video-page .video-list .video-item:last-child:nth-child(4n-3) {
		margin-right: 75%;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1750px) {
	.video-page .video-list .video-item:last-child:nth-child(5n-1) {
		margin-right: 19.5%;
	}
	.video-page .video-list .video-item:last-child:nth-child(5n-2) {
		margin-right: 39%;
	}
	.video-page .video-list .video-item:last-child:nth-child(5n-3) {
		margin-right: 59.5%;
	}
	.video-page .video-list .video-item:last-child:nth-child(5n-4) {
		margin-right: 78%;
	}
}

@media screen and (min-width: 1750px) {
	.video-page .video-list .video-item:last-child:nth-child(6n-1) {
		margin-right: 16.6%;
	}
	.video-page .video-list .video-item:last-child:nth-child(6n-2) {
		margin-right: 33.3%;
	}
	.video-page .video-list .video-item:last-child:nth-child(6n-3) {
		margin-right: 50%;
	}
	.video-page .video-list .video-item:last-child:nth-child(6n-4) {
		margin-right: 66%;
	}
	.video-page .video-list .video-item:last-child:nth-child(6n-5) {
		margin-right: 83%;
	}
} */

.common-vlist-container .video-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 270px);
}

/* .common-vlist-container .video-list .video-item:last-child:nth-child(4n-1) {
	margin-right: 25%;
}
.common-vlist-container .video-list .video-item:last-child:nth-child(4n-2) {
	margin-right: 50%;
}
.common-vlist-container .video-list .video-item:last-child:nth-child(4n-3) {
	margin-right: 75%;
} */

/********* PAGE & TOAST **********/
.my-page {
	position: fixed;
	bottom: -15px;
	width: 100%;
	background-color: opacity;
	transition: all 0.2s ease;
	z-index: 1;
}

.my-page:hover {
	bottom: 0px;
}

.my-page:hover .pagination-wrap {
	padding-top: 10px;
}

.my-page .pagination-wrap {
	display: flex;
	padding: 10px 50px 20px;
	min-width: 35vw;
	justify-content: center;
	align-items: center;
	column-gap: 5px;
	flex-flow: row;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.35);
	backdrop-filter: blur(5px);
	box-shadow: -0.125rem -0.125rem 0.1rem rgba(218, 218, 218, 0.2),
		0.05rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.my-page .page-item {
	border-radius: 5px;
	box-shadow: -0.125rem -0.125rem 0.1rem rgba(218, 218, 218, 0.2),
		0.05rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
	border: none;
	height: 36px;
	min-width: 36px;
}

.my-page .page-item.page-link {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
	transition: all 0.15s ease-in-out;
}

.my-page .page-item.active,
.my-page .page-link:hover {
	background-color: #007bff;
	color: #fff;
}

.tip-toast-container {
	position: fixed;
	width: fit-content;
	inset-inline: 1rem;
	margin-inline: auto;
	z-index: 9999;
	top: 10px;
}
/* 
.tip-toast-container .toast {
	min-width: 150px;
} */

/*********** VIDEO KIT *****************/
.page-side-kit-container {
	position: fixed;
	display: inline-block;
	top: 20vh;
	right: -55px;
	padding: 5px;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(3px);
	transition: all 0.2s ease;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.page-side-kit-container:hover {
	right: 0px;
	/* border-radius: 0; */
}

.video-kit-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	row-gap: 7px;
}

.video-kit-list .kit-item {
	padding: 0px 9px;
	backdrop-filter: blur(3px);
	transition: all 0.15s ease;
	cursor: pointer;
	border-radius: 0.5em;
	background-color: #ffffff00;
	color: #8ac6d1;
	transition: all 0.2s ease;
}

.video-kit-list .kit-item.active,
.video-kit-list .kit-item:hover {
	color: rgb(0, 85, 255);
	background-color: rgba(0, 0, 0, 0.15);
}

.kit-list,
.video-list .video-item .kit-list {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 20px;
	display: flex;
	gap: 5px;
	z-index: 1;
}
.kit-list .kit-item,
.video-list .video-item .kit-list .kit-item {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 0 5px;
	border-radius: 0.375em;
	color: rgba(0, 89, 253, 0.8);
	transition: all 0.15s ease;
}

.kit-list .kit-item:hover,
.video-list .video-item .kit-list .kit-item:hover {
	color: #fc6986;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

.page-side-tag-container {
	position: fixed;
	display: inline-block;
	top: 40vh;
	right: -465px;
	padding: 10px 5px 10px 15px;
	width: 480px;
	max-height: 360px;
	overflow: auto;
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px);
	transition: all 0.5s ease;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 999;
}

.page-side-tag-container:hover {
	right: 0px;
	/* border-radius: 0; */
}
/*********** VIDEO PLAYER*****************/
.video-player-container {
	/* width: 100%; */
	width: 960px;
	height: 540px;
	background-color: rgba(8, 8, 8, 0.8);
	/* backdrop-filter: blur(3px); */
}

/* .video-player-container #video-player {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: 100%;
} */

.video-form-container {
	max-width: 720px;
	min-width: 540px;
	padding: 10px 20px;
	background-color: rgba(255, 255, 255, 0.75);
}

.video-other-info {
	background-color: rgba(255, 255, 255, 0.75);
	padding: 10px;
	width: 480px;
	margin-left: 10px;
}
.video-other-info .video-info-piece {
	line-height: 1.5;
	margin-bottom: 10px;
	color: #000;
}

.video-operate-container {
	position: relative;
	display: flex;
	max-height: 247px;
	min-height: 48px;
	overflow: auto;
	transition: all 0.3s ease;
}
.video-operate-container .video-list-brief,
.video-operate-container .video-play-right-wrap {
	background-color: rgba(255, 255, 255, 0.5);
}
.video-operate-container .video-list-brief {
	display: grid;
	grid-template-columns: repeat(auto-fill, 170px);
	row-gap: 7px;
	padding: 5px;
	border-right: 2px solid #00000036;
	overflow-y: auto;
	justify-content: space-between;
	align-content: baseline;
	background-color: rgba(255, 255, 255, 0.5);
	width: -webkit-fill-available;
	flex-grow: 4;
}

.video-operate-container .video-play-right-wrap {
	width: 248px;
	max-height: 100%;
	transition: all 0.3s ease;
	flex: none;
}

/* .video-operate-container .video-operate-kit-list {
	position: relative;
	top: unset;
	right: unset;
	width: 100%;
	padding: 5px;
	justify-content: right;
} */

.video-operate-container .screenshoot-list {
	display: flex;
	row-gap: 5px;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	overflow: auto;
	transition: all 0.5s ease;
	max-height: 247px;
}

/* .video-operate-container .screenshoot-list:hover {
	position: absolute;
	bottom: 0px;
	right: 0;
	max-width: 520px;
	max-height: unset;
} */

.video-operate-container .screenshoot-list .screenshoot-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 248px;
	height: 140px;
}
.video-operate-container .screenshoot-list .screenshoot-item .kit-list {
	top: unset;
	bottom: 5px;
}
.video-operate-container .screenshoot-list .screenshoot-item img {
	max-width: 100%;
	max-height: 100%;
}

.video-operate-container .video-list-brief .video-item .video-cover {
	background-color: #ffffff00;
}
.video-operate-container .video-list-brief .video-item .video-cover {
	position: relative;
	width: 172px;
	height: 115px;
	min-width: auto;
	/* overflow: hidden; */
}

/* .video-list-brief .video-item .video-cover:hover .video-title {
	background: #000;
} */
.video-operate-container
	.video-list-brief
	.video-item
	.video-cover
	.video-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 0 5px;
	font-size: 13px;
	line-height: 20px;
	height: 20px;
	overflow: hidden;
	text-decoration: none;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;

	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000);
	transition: all 0.5s ease;
	color: #a0ebf8;
}

.video-operate-container
	.video-list-brief
	.video-item
	.video-cover
	.video-duration {
	top: 2px;
	bottom: unset;
	right: 0px;
}
.video-operate-container
	.video-list-brief
	.video-item
	.video-cover
	.video-category {
	top: 2px;
	bottom: unset;
	left: 0;
}

.large-modal .my-modal-dialog {
	width: 100vw !important;
	height: 100vh !important;
	max-height: unset;
	max-width: unset;
}

.large-modal .my-modal-dialog .modal-content {
	width: 100%;
	height: 100%;
}

.large-modal .my-modal-dialog .modal-content .modal-body {
	display: flex;
}
:root {
	/* large model video player side pane width */
	--lvp-side-width: 248px;
}

.large-modal .my-modal-dialog .modal-content .video-player-container {
	width: 100%;
	/* height: calc(100% - 125px);
	max-height: calc(100% - 125px); */
	width: calc(100% - var(--lvp-side-width));
	max-width: calc(100% - var(--lvp-side-width));
	height: 100%;
	max-height: 100%;
}

.large-modal
	.my-modal-dialog
	.modal-content
	.video-player-container
	#video-player {
	width: 100%;
	height: 100%;
}
.large-modal
	.my-modal-dialog
	.modal-content
	.video-player-container
	.video-js.vjs-16-9 {
	padding: 0;
}

.large-modal .my-modal-dialog .modal-content .video-operate-container {
	max-height: 100%;
	height: 100%;
	display: block;
}

.large-modal
	.my-modal-dialog
	.modal-content
	.video-operate-container
	.video-list-brief {
	width: var(--lvp-side-width);
	height: calc(65% - 42px);
	max-height: calc(65% - 42px);
	margin-top: 5px;
	border: none;
	/* justify-content: space-evenly; */
	grid-template-columns: repeat(auto-fill, 115px);
	padding: 2px;
	overflow-y: auto;
}
.large-modal
	.video-operate-container
	.video-list-brief
	.video-item
	.video-cover {
	width: unset;
	height: 90px;
	row-gap: 3px;
}

.large-modal .video-operate-container .video-play-right-wrap {
	width: var(--lvp-side-width);
	height: calc(35% - 7px);
	max-height: calc(35% - 7px);
	margin-top: 7px;
	overflow-y: auto;
}

.large-modal .video-operate-container .video-operate-kit-list {
	position: unset;
	margin-top: 6px;
	padding-left: 5px;
}

.large-modal .video-operate-container .screenshoot-list {
	/* max-height: 125px; */
	height: 100%;
	max-height: 100%;
}

.modal-dialog-centered {
	justify-content: center;
}
/************* SPIDER PAGE ****************/
.spider-page {
	height: calc(100vh - 65px);
}

.spider-page a {
	display: inline-block;
	padding: 0 3px;
	background-color: #007bff;
	color: #fff;
	transition: all 0.2s ease;
}

.spider-page a:hover {
	background: #d30020;
}

.spider-page main,
.spider-page .spider-container,
.spider-container .spider-content {
	height: 100%;
}

.spider-container .spider-wrap .wrap-header {
	display: flex;
	margin-bottom: 5px;
}
.spider-container .spider-wrap .wrap-header .wrap-title {
	font-size: 26px;
	margin-right: auto;
}
.spider-container .spider-wrap .wrap-header .list-control {
	display: inline-flex;
	gap: 1rem;
}
.spider-container .spider-wrap .wrap-header .list-control .btn {
	width: 11em;
}
.spider-container .spider-content {
	overflow: auto;
}

.spider-content .spider-operate {
	display: flex;
	margin-bottom: 1rem;
}
.spider-content .spider-operate .spider-control {
	background-color: #fff;
	padding: 1rem;
	width: 360px;
	margin-right: 1rem;
}
.spider-content .spider-msg-list {
	font-family: consolas, "Franklin Gothic Medium", "Arial Narrow", Arial,
		sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #23272e;
	height: 260px;
	overflow-x: hidden;
	word-wrap: break-word;
	overflow-y: auto;
	flex: auto;
	font-size: 14px;
	padding: 5px 2px;
	border-radius: 2px;
	transition: all 0.3s ease;
}
.spider-content .spider-msg-list data {
	background-color: #008099;
	color: #fff;
}

.spider-content .spider-msg-list .msg-item {
	padding: 2px;
	line-height: 1.3;
	color: #b6b9b0;
	/* border-bottom: 1px solid #eea; */
	transition: all 0.2s ease;
}

/* .spider-content .spider-msg-list .msg-item.info,
.spider-content .spider-msg-list .msg-item.warn,
.spider-content .spider-msg-list .msg-item.error,
.spider-content .spider-msg-list .msg-item.info {
	color: #000;
	background-color: #78c0a8;
} */
.spider-content .spider-msg-list .msg-item.info {
	color: #91efff;
}
.spider-content .spider-msg-list .msg-item.warn {
	color: #ffd14e;
}
.spider-content .spider-msg-list .msg-item.error {
	color: #fd9696;
}
.spider-content .spider-msg-list .msg-item:hover {
	background-color: #343842;
	/* color: #123; */
}

@media screen and (max-width: 900px) {
	.spider-content .spider-operate {
		flex-direction: column;
	}
	.spider-content .spider-operate .spider-control {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1rem;
	}
	.spider-content .spider-msg-list {
		width: 100%;
		flex: none;
	}
}

.spider-container .spider-result {
	margin-top: 10px;
	padding: 15px 15px 0;
	border-radius: 0.275rem;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	width: 100%;
	max-height: calc(100vh - 415px);
	overflow: auto;
}

.spider-container .table {
	font-size: 14px;
}

.spider-container .table td,
.spider-container .table th {
	padding: 5px;
}
.spider-container .table thead {
	position: sticky;
	top: -16px;
}

.table th.th-link {
	min-width: 8em;
}
.table th.th-number {
	min-width: 5em;
}
.table th.th-datetime {
	min-width: 11em;
}

.table-wrap {
	max-height: 420px;
	overflow: auto;
}
.table-wrap .table {
	max-height: 360px;
	overflow: auto;
}

.table-wrap .table thead {
	position: sticky;
	top: 0;
}

.table-wrap .table tr:last-child {
	border-bottom: 1px solid #dee2e6;
}
.table-page {
	position: sticky;
	bottom: 15px;
	justify-content: center;
	column-gap: 7px;
}
.table-page .page-item:first-child .page-link,
.table-page .page-item:last-child .page-link {
	border-radius: 5px;
}

.table-page .page-link {
	min-width: 36px;
	padding: 7px 10px;
	text-align: center;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	color: #007bff;
	box-shadow: 1px 2px 2px 1px rgba(0 0 0 / 0.1);
}

.table-page .page-link:hover,
.table-page .page-link.active {
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

.spider-page .spider-overview {
	display: flex;
	padding: 7px 5px;
	margin-bottom: 15px;
	font-size: 17px;
	font-family: consolas, "微软雅黑";
	border-left: 4px #0d3f67 solid;
}

.spider-page .spider-overview span {
	display: inline-block;
	font-weight: bold;
}
.spider-page .spider-overview span:nth-child(2n - 1) {
	padding: 0px 5px;
	margin-left: 1rem;
}
.spider-page .spider-overview span:first-child {
	margin-left: 0;
}
.spider-page .spider-overview span:nth-child(2n) {
	background-color: #000;
	min-width: 3rem;
	padding: 2px 7px;
	font-size: 14px;
	color: #eee;
	border-radius: 3px;
}

/************** MANAGE ********************/

.msg-list {
	max-height: calc(100vh - 250px);
	font-family: consolas, "微软雅黑";
	overflow: auto;
}

.msg-list .msg-item {
	display: flex;
	margin: 3px 0;
	padding: 2px 0.5rem;
	background-color: #f3f3f3;
}
.msg-list .msg-time {
	margin-right: 1rem;
	vertical-align: top;
	width: 8rem;
	flex: none;
}
.msg-list .msg-content {
	flex: fill;
}

/************ TAG **************/

.tag-input-wrap {
	padding: 5px 7px;
	border: 1px solid #e3e5f1;
	min-height: 39px;
	background-color: #fff;
}

.tag-list {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	gap: 0.5rem;
	font-size: 14px;
}

.tag-select-list {
	max-height: 275px;
	overflow: auto;
}

.tag-list .tag-item {
	color: #4d638c;
	position: relative;
	background-color: #f8f4e3;
	padding: 3px 5px;
	border-radius: 3px;
	cursor: pointer;
}

.tag-list .tag-item.tag-select {
	background-color: #daddd8;
}

.tag-list .tag-item:hover {
	color: #fa0026;
}

.tag-list .to-down-kit,
.tag-list .to-top-kit {
	position: fixed;
	top: 92%;
	padding: 0px 7px;
	font-size: 24px;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 50%;
	backdrop-filter: blur(3px);
}
.tag-list .to-down-kit {
	right: 54px;
}
.tag-list .to-top-kit {
	right: 10px;
}

.tag-list .to-down-kit:hover,
.tag-list .to-top-kit:hover {
	color: #006ae2;
}

.small-input {
	width: auto;
	height: 2rem;
	line-height: 1;
	font-size: 14px;
	padding: 0 5px;
}

.time-node-item {
	position: absolute;
	font-size: 15px;
	top: -20px;
	margin-left: -8px;
	cursor: pointer;
}

.time-node-item:hover {
	color: #007bff;
}

.modal-btn-list {
	position: absolute;
	top: 5px;
	right: 10px;
}

#picture-view-modal .modal-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic-list-container {
	width: 100%;
}

.pic-list-container .pic-list {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.pic-list .pic-item {
	width: 360px;
	background-color: #fff;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 2px 2px 2px rgba(0 0 0 / 0.1);
}
.pic-list .pic-item .pic-box {
	max-height: 203px;
	width: 100%;
}
.pic-list .pic-item .pic-box img {
	max-width: 100%;
	max-height: 100%;
}

.pic-list .pic-item .pic-info {
	padding: 5px 10px;
}

.pic-list .pic-item .pic-info .pic-title {
	text-align: center;
}

/*************** record page ******************/
:root {
	--record-aside-width: 150px;
}

.full-page {
	width: 100vw;
	height: calc(100vh - 65px);
	margin-top: 65px;
	overflow: hidden;
	display: flex;
}

.record-page aside {
	position: relative;
	width: var(--record-aside-width);
	height: 100%;
	overflow-y: auto;
	flex: none;
	background-color: #fff;
}

.record-page main {
	flex: auto;
	width: max-content;
	height: 100%;
	padding: 5px 10px;
	padding-bottom: 60px;
	overflow-y: auto;
}

.record-page footer {
	position: fixed;
	bottom: 0px;
	width: calc(100% - var(--record-aside-width));
	left: var(--record-aside-width);
}
@media screen and (max-width: 540px) {
	/* .record-page aside {
		width: 60px;
	}
	.record-page main,
	.record-page footer {
		margin-left: 60px;
	}
	.record-page footer{
		width: calc(100% - 60px);
	} */
	:root {
		--record-aside-width: 60px;
	}
}
.record-page .category-list {
	padding-top: 5px;
	display: flex;
	flex-direction: column;
	row-gap: 7px;
}

.category-list .category-item {
	position: relative;
	padding: 5px;
	margin: 0 4px 0 6px;
	background-color: #fff;
	border-radius: 7px;
	transition: all 0.2s ease;
}
.category-list .category-item.active,
.category-list .category-item:hover {
	box-shadow: 1px 1px 3px 2px rgba(0 0 0 / 0.1);
}
.category-list .category-item.active::after {
	content: "";
	position: absolute;
	top: 20%;
	right: 5px;
	width: 5px;
	height: 60%;
	border-radius: 3px;
	background-color: #007bff;
}

.category-operate {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	bottom: 10px;
	row-gap: 10px;
}

.category-operate .btn {
	font-size: 22px;
	padding: 0px 5px;
	box-shadow: 0 0 2px 2px rgba(0 0 0 / 0.1);
	font-weight: bold;
	height: fit-content;
	transition: all 0.2s ease;
}

.category-operate .btn:hover {
	color: #006ae2;
}

.record-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 15px;
}

@media screen and (min-width: 1480px) {
	.record-list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.record-list .record-item {
		width: calc(50% - 7px);
	}
}

/* @media screen and (min-width: 1480px) {
	.record-list {
		flex-direction: row;
		flex-wrap: wrap;
	}
	.record-list .record-item {
		width: calc(33%);
	}
	.record-list .record-item:last-child:nth-child(3n-1) {
		margin-right: calc(33% + 6px);
	}
} */

.record-list .record-item {
	position: relative;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 3px 2px rgba(0 0 0 / 0.1);
	padding: 5px 10px;
	transition: all 0.3s ease;
	height: fit-content;
}

.record-item .record-title {
	font-size: 18px;
}

.record-item .record-detail {
	font-size: 12px;
	min-height: 16px;
	text-indent: 0px;
	line-height: 1.2;
	color: #666;
}
.record-item .record-content {
	font-size: 13px;
	padding: 2px 3px;
	position: relative;
	line-height: 1.8;
	word-break: break-all;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1; /* 这里是超出几行省略 */
	transition: all 0.3s ease;
}
.record-item input[name="content-show"] {
	display: none;
}

.item-kit {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 20px;
	display: flex;
	column-gap: 3px;
}
.item-kit .kit-item {
	padding: 0 3px;
	border-radius: 2px;
	transition: all 0.2s ease;
}
.item-kit .kit-item:hover {
	color: #007bff;
	cursor: pointer;
	/* box-shadow: 0px 0px 2px 2px rgba(0 0 0 / 0.1); */
}

.record-item .content-toggle {
	cursor: pointer;
	margin-bottom: 0;
	transition: all 0.3s ease;
}

.record-item input[name="content-show"]:checked ~ .record-content {
	word-break: unset;
	text-overflow: unset;
	overflow: unset;
	display: block;
}

.record-item input[name="content-show"]:checked ~ .item-kit .content-toggle {
	color: #007bff;
}

.record-add-form {
	position: relative;
	width: 80%;
	max-width: 1280px;
	padding: 10px 20px;
	padding-top: 5px;
	background-color: rgba(255, 255, 255, 0.4);
	backdrop-filter: blur(6px);
	margin: 0 auto;
	margin-bottom: 20px;
	border-radius: 5px;
	font-size: 14px;
	box-shadow: 2px 2px 3px 2px rgba(0 0 0 / 0.1);
	transition: all 0.3s ease;
}
.record-add-form input {
	font-size: 14px;
	line-height: 1;
}
.small-textarea {
	font-size: 14px;
	line-height: 1.3;
	resize: none;
}

.record-add-form .form-toggle {
	width: 100%;
	text-align: center;
	font-size: 18px;
	margin-bottom: 0;
	transition: all 0.3s ease;
}
footer {
	transition: all 0.3s ease;
	transform: translateY(calc(100% - 35px));
}
input[name="record-show"]:checked ~ footer {
	transform: translateY(0);
}
input[name="record-show"]:checked ~ footer .record-add-form .form-toggle i {
	display: inline-block;
	transform: rotate(180deg);
}

.data-result .spider-result {
	justify-content: space-between;
	gap: 20px;
}
.data-result .spider-result .data-overview,
.data-result .spider-result .result-view {
	width: 100%;
	flex: none;
}

@media screen and (min-width: 1080px) {
	.data-result .spider-result {
		display: flex;
	}
	.data-result .spider-result .data-overview {
		max-width: 640px;
	}
	.data-result .spider-result .result-view {
		flex: auto;
	}
}

.page-min-input {
	max-width: 3em;
	font-size: 13px;
	border-radius: 0;
	border: 1px solid #aaa;
	line-height: 16px;
}

.control-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.control-wrap .control-btn {
	margin: 0;
	padding: 0px 10px;
	width: fit-content;
	line-height: 26px;
	height: 26px;
	background: #007bff91;
	border-radius: 13px;
	box-shadow: 1px 1px 2px #007bff91;
	cursor: pointer;
}

.full-screen {
	display: fixed;
	width: 100vw;
	height: calc(100vh - var(--top-nav-height) - 30px);
	max-width: calc(100vw - var(--lside-nav-margin) - 30px);
}

.full-screen .record-editor {
	max-height: calc(100vh - 340px);
}

.record-editor {
	max-height: calc(100vh - 400px);
	height: 100vh;
}

.markdown-body blockquote, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
	margin-bottom: 0!important;
}